:root{
    --color-black: #000000;
}

#navrail{
    width: 96px;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: red;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.navrail_button{
    display: flex;
    width: 80px;
    height: 56px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: -2px auto 24px;
    padding: 2px;
}